<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" aria-label="Primary navigation">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <span class="brand-mark">A</span>
        <span>Aurelia Jewels</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto align-items-lg-center">
          <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/about/' | relative_url }}">About</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/collections/' | relative_url }}">Collections</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/featured-jewellery/' | relative_url }}">Featured</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/offers/' | relative_url }}">Offers</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/gallery/' | relative_url }}">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/testimonials/' | relative_url }}">Testimonials</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/blog/' | relative_url }}">Blog</a></li>
          <li class="nav-item ms-lg-3"><a class="btn btn-gold btn-sm" href="{{ '/contact/' | relative_url }}">Visit Showroom</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
